@{
    ViewData["Title"] = "Ejercicio 1";
}

<section>
    <h1>Calculadora de Impulso Nervioso</h1>

    <p>Ingrese su estatura en metros:</p>
    <input type="number" id="altura" placeholder="Estatura en metros" step="0.01" required>

    <button onclick="calcularTiempo()">Calcular Tiempo</button>

    <p id="resultado"></p>
</section>

<script src="~/js/Ejercicio1.js" asp-append-version="true"></script>